@model IEnumerable<Proyecto.Models.Formulario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form asp-action="Index" method="get" class="text-left">

    <p>
        Puesto: <input type="text" name="searchString4" value="@ViewData["Currentfilter"]" />
    </p>
    <input id="buscar" type="submit" value="Buscar" class="btn-default" /><br />
    <a id="todos" asp-action="Index">Todos los Registros</a>

</form>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Puesto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Requesitos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Atribuciones)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Puesto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requesitos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Atribuciones)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PuestoID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PuestoID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PuestoID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
